<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
<div class="topnav">
  <b> <img src="/static/fist2.svg" height="40"></b>
  {% block header %}{% endblock %}
  <userstyle>{{user.username}}</userstyle>
</div>

{% block content %}{% endblock %}

<div class="bottom">
  <text>Author: Joe, Ayushmaan, Jin</text>
  {% block footer %}{% endblock %}
  <button type="button" onclick="location.href = '/{{user.username}}/{{curr}}/{{page + 1}}';">→</button>
  <button type="button" onclick="location.href = '/{{user.username}}/{{curr}}/{{page - 1}}';">←</button>
</div>

</body>
</html>