{% extends "signform.html" %}

{% block title %}
<h1> Sign In </h1>
{% endblock %}

{% block formoption %}
<form action="/" method="post">
    <div class="container">
        <label>Username : </label> <br>
        <input type="text" placeholder="Enter Username" name="username" required><br><br><br><br><br><br>
        <label>Password : </label> <br>
        <input type="password" placeholder="Enter Password" name="password" required><br><br><br><br><br><br><br>
        <button type="submit">Sign In!</button><br><br><br><br><br>
        <p>New user? <a href="/signup">Register Here</a></p>  </div>
    </div>
</form>

{% endblock %}