{% extends "header.html" %}
{% block header %}
<a href="/{{user.username}}/news/1"><newsstyle class="active">News</newsstyle></a>
<a href="/{{user.username}}/protests/1"><proteststyle>Protests</proteststyle></a>
{% endblock %}
{% block content %}

<div class="news">
  {% for news in news_list %}
    <a href="{{news.url}}" target="_blank"><name>{{news.headline}}</name></a> <source>{{news.source}}</source> <date>{{news.date}}</date>
    <br /><br /><br /><br /><br /><hr />
  {% endfor %}
</div>

{% endblock %}