{% extends "header.html" %}
{% block content %}

<title>{{protest.name}}</title>
<h3></h3>
  <table WIDTH=600>
    <tr>
      <td>Date: </td>
        <td>{{protest.date}}</td>
    </tr>
    <tr>
      <td>Location: </td>
        <td>{{protest.location}}</td>
    </tr>
    <tr>
      <td>Description: </td>
        <td>{{protest.description}}</td>
    </tr>
    <tr>
       <td>
           <button type="button">Donate</button>
           <button type="button" onclick="/{{user.username}}/{{protest.id}}/signup">Sign Up</button>
        </td>
    </tr>
  </table>
</form>